* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
/* reset */

h2{
    color: black;
    
}


.container {
     max-width: 1260px;
    
    margin: 0 auto;
    font-size: 13px;
    color:white;
    font-weight: bold;
    padding: 10px;
   
}

.row {
    
    flex-direction: row;
    flex-wrap: wrap;
}
.padding{
    padding: 15px;
    
    
}
   






/* regola generica per tutte le colonne */
	




/* modificatori flex */
.center {
    justify-content: center;
}

.end {
    justify-content: flex-end;
}


.flex{
    display: flex;
}

.gap{
    gap: calc((100% / 12) / (12 * 2));
}
.space-between{
    justify-content: space-between;
}
.top{
    align-items: flex-start;
   
}

.middle{
    align-items: center;
}
.bottom{
    align-items: flex-end;
}

.no-wrap{ 
    flex-wrap:nowrap;
    
}


[class*="col-"] {
    padding: 10px;
   
}






/* realizzazione selettori colonne */

.col-1 {
    /* width: calc(100% / 12); */
    flex-basis: calc((100% / 12));
    min-width: calc((100% / 12));
    
}

.col-2 {
    /* width: calc(100% / 12 * 2); */
    flex-basis: calc((100% / 12) *  2);
    max-width: calc((100% / 12) *  2);
}

.col-3 {
    /* width: calc(100% / 12 * 3); */
    flex-basis: calc((100% / 12) *  3);
    max-width: calc((100% / 12) *  3);
}

.col-4 {
    /* width: calc(100% / 12 * 4); */
    flex-basis: calc((100% / 12) *  4);
    max-width: calc((100% / 12) *  4);
}

.col-5 {
    /* width: calc(100% / 12 * 5); */
    flex-basis: calc((100% / 12) *  5);
    max-width: calc((100% / 12) *  5);
}

.col-6 {
    /* width: calc(100% / 12 * 6); */
    flex-basis: calc((100% / 12) *  6);
    max-width: calc((100% / 12) *  6);
}

.col-7 {
    /* width: calc(100% / 12 * 7); */
    flex-basis: calc((100% / 12) *  7);
    max-width: calc((100% / 12) *  7);
}

.col-8 {
    /* width: calc(100% / 12 * 8); */
    flex-basis: calc((100% / 12) *  8);
    max-width: calc((100% / 12) *  8);
}

.col-9 {
    /* width: calc(100% / 12 * 9); */
    flex-basis: calc((100% / 12) *  9);
    max-width: calc((100% / 12) *  9);
}

.col-10 {
    /* width: calc(100% / 12 * 10); */
    flex-basis: calc((100% / 12) *  10);
    max-width: calc((100% / 12) *  10);
}

.col-11 {
    /* width: calc(100% / 12 * 11); */
    flex-basis: calc((100% / 12) *  11);
    max-width: calc((100% / 12) *  11);
}

.col-12 {
    /* width: 100%; */
    flex-basis: calc((100% / 12) * 12);
    max-width: calc((100% / 12) * 12);
}




/* realizzazione offset colonne */

.offset-1 {
    margin-left: calc(100% / 12 * 1);
}

.offset-2 {
    margin-left: calc(100% / 12 * 2);
}

.offset-3 {
    margin-left: calc(100% / 12 * 3);
}

.offset-4 {
    margin-left: calc(100% / 12 * 4);
}

.offset-5 {
    margin-left: calc(100% / 12 * 5);
}

.offset-6 {
    margin-left: calc(100% / 12 * 6);
}

.offset-7 {
    margin-left: calc(100% / 12 * 7);
}

.offset-8 {
    margin-left: calc(100% / 12 * 8);
}

.offset-9 {
    margin-left: calc(100% / 12 * 9);
}

.offset-10 {
    margin-left: calc(100% / 12 * 10);
}

.offset-11 {
    margin-left: calc(100% / 12 * 11);
}

.offset-12 {
    margin-left: calc(100% / 12 * 12);
}