



footer {
    background-color: black;
    color: white;
    
}

footer ul {
    list-style-type: none;
}

footer a {
    color: white;
}


.test {
    border: solid 1px black;
    background-color: rgba(0, 0, 255, 0.2);
    /* test */
}

.green{
   
    background-color :rgb(2, 199, 2);
    border: 1px solid rgb(14 132 234);

    text-align: center
   

    
}


.blue{
 
    background-color :rgb(14 132 234);
    border: 1px solid white;
    
    
}